body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto",Tahoma,sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  
  background-color: #849d8f;
}
.visually-hidden:not(:focus):not(:active), input[type='checkbox'].visually-hidden, input[type='radio'].visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.container {
  margin: 0 auto;
  width: 1140px;
  padding: 15px;
}

.page-list {

  margin: 0;
  padding: 0;

  list-style: none;
}

.btn {
  padding: 12px 23px;
  
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #fefefe;
  text-decoration: none;
  
  background-image: linear-gradient(to top,#e74b36 0%,#f26843 100%);
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(85,8,0,.54);
}

.btn:hover {
  background-image: linear-gradient(to top,#ec6e5d 0%,#f58669 100%);
}

.btn:active {
  background-image: linear-gradient(to top,#e1613e 0%,#d74531 100%);
}

.header {
  position: relative;
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: space-between;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 14px;
  min-width: 406px;
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
  align-items: flex-start;
}

.user-navigation {
  display: flex;
  align-items: center;
  
  font-weight: 500;
}

.page-navigation {
  display: block;
  padding: 7px 13px 9px 14px;
  color: #ffffff;
}

.page-navigation:hover,
.page-navigation:focus {
  color: #323232;
  border-radius: 50px;
  background-color: #f7f6f3;
}

.sub-menu {
  margin: 0;
  padding: 6px 0;
  position: absolute;
  top: 50px;
  display: none;
  min-width: 143px;  
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.site-navigation>li:hover .sub-menu {
  display: block;
      z-index: 100;
}

.sub-menu-link {
  margin-bottom: 3px;
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 20px;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  color: #323232;
  text-decoration: none;
}

.sub-menu-link:hover {
  background-color: #fbded7;
}

.line::after {  
    position: absolute;
    right: 10px;
    left: 5px;
    height: 1px;
    content: "";
    background-color: rgba(53, 53, 53, 0.2);
}

.login-link {
  margin-left: 5px;
  position: relative;
  
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50px;
}

.search-btn::before {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 17px;
    height: 17px;
    content: '';
  background-image: url(../img/loupe.svg);
}

.login-btn {
  padding-left: 44px; 
}

.login-btn::before {
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 19px;
  content: '';
  background-image: url(../img/entrance.svg);
}

.phone {
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}

.number {
  font-size: 22px;
  line-height: 24px;
}

.title{
  font-size: 24px;
  line-height: 30px;	
}

.slide {
  display: none;
  position: relative;
  min-height: 400px;
  height: 100%;
}

.slide-content {
  top: 150px;
  z-index: 10;  
  position: absolute;
  text-align: center;
 }

.slide-one,
.slide-two,
.slide-three {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-one img {
  position: absolute;
}

.slide-title {
  margin: 0;
  padding: 0;
  width: 671px;
  
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.btn-slider {
  padding-top: 8px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 40px;
  margin-top: 50px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 33px;
}

.slider-radio {
  position: absolute;
  top: 568px;
}

.radio-btn {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 560px;
  border-radius: 15px;
}

.promotion {
  position: relative;
  z-index: 10;
  }

.promo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  min-height: 228px;
}

.promo-item h2 {
  margin: 0;
  padding: 15px 25px 0 18px;
  
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  margin: 0;
  padding: 15px 25px 0 18px;
}

.promo-item .btn {
  margin-right: 22px;
  margin-top: 45px;
  align-self: flex-end;
}

.promo-raspberry {
  background: #772033;
  background-image: url(../img/raspberry-background.jpg)
}
.promo-chocolate {
  background: #3f261b;
  background-image: url(../img/chocolate-background.jpg)
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 267px;
  text-align: center; 
}

.catalog-item img {
  border-radius: 50%;
}

.about {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-bottom: 40px;
  min-height: 307px;
  
  background-color: #e7d8b8;
  background-image: url(../img/about-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.about .title{
  font-weight: 500;	
}

.about-features {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.about-feature {
  padding-left: 57px;
  position: relative;
  padding-bottom: 20px;
  max-width: 490px;
}

.about-feature::before {
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
}

 .first-feature::before {
  background-image: url(../img/ice-cream.svg);  
}

 .second-feature::before {
  background-image: url(../img/cow.svg);  
}

 .third-feature::before {
  background-image: url(../img/eco.svg);  
}

 .fourth-feature::before {
  background-image: url(../img/thermometer.svg);  
}

.blog {
  box-sizing: border-box;
  padding-top: 23px;
  padding-right: 250px;
  padding-left: 20px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url(../img/blog-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.blog p {
  margin: 0;
  padding: 0;
}

.blog-title a {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.subscribe {
  box-sizing: border-box;
  padding: 5px;
  min-height: 220px;
  color: #5a5a5a;  
  background-color: #f8f7f4;
  background-image: url(../img/border-post.jpg);
 }

.bg-wrapper {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 22px;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-form input {
  box-sizing: border-box;
  padding-left: 14px;
  width: 368px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.subscribe-form .btn {
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 21px;
  border-radius: 24px;
}

.address {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.address-contacts {
  position: absolute;
  left: 868px;
  top: 62px;
  width: 302px;
  min-height: 305px;
  
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
    
  background-color: #fefefe;
  border-radius: 15px;
}

.address-contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.page-link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.page-link:hover,
.page-link:focus,
.page-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #ffbc9e;
}

.footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 1146px;
}

.social {
  display: flex;
  align-items: center;
  width: 267px;
}

.footer-navigation {
  display: flex;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 560px;
}


.footer-copyright,
.footer-copyright a{
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff; 
}

.price {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
}

.mass {
  font-size: 30px;
  line-height: 45px;
}

.catalog-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
}