body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto",Tahoma,sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  
  background-color: #849d8f;
}

.container {
  margin-left: 27px; 
  margin-top: 9px;
  width: 1146px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  margin-left: 23px;
  margin-bottom: 7px;
  width: 680px;
  display: flex;
  align-items: center;
}

.page-navigation {
  margin-right: 30px;
}

.user-navigation {
  display: flex;
  align-items: center;
  
  font-weight: 500;
}

.page-list {
/*
  margin: 0;
  padding: 0;
*/
  list-style: none;
}

.page-navigation {
  color: #ffffff;
}

.page-navigation:hover,
.page-navigation:focus {
  color: #323232;
  
  background-color: #f7f6f0;
}

.hidden {
  display: none;
}

.phone {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.number {
  font-size: 22px;
  line-height: 24px;
}

.title{
  font-size: 24px;
  line-height: 30px;	
}

.about {
  background-color: #e7d8b8;
  background-image: url(../img/about-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.about .title{
  font-weight: 500;	
}

.about-features {
  padding: 0;
  margin: 0;
  list-style: none;	
}

.blog {
  background-color: #ffffff;
  background-image: url(../img/blog-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-title a {
  font-weight: 700;
  color: #323232;
}

.subscribe {
  color: #5a5a5a;  
  
  background-color: #f8f7f4;
  background-position: 0 0;
  background-repeat: repeat;	
}

.address-contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
    
  background-color: #fefefe;
}

.address-contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #fefefe;
  text-decoration: none;
  
  background-image: linear-gradient(to top,#ca3824 0%,#f26843 100%);
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(85,8,0,.54);
}

.btn:hover {
  background-image: linear-gradient(to top,#ec6e5d 0%,#f58669 100%);
}

.btn:active {
  background-image: linear-gradient(to top,#e1613e 0%,#d74531 100%);
}

.page-link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.page-link:hover,
.page-link:focus,
.page-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #ffbc9e;
}

.footer-copyright,
.footer-copyright a{
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2)
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff; 
}

.price {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
}

.mass {
  font-size: 30px;
  line-height: 45px;
}

.catalog-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}